.chart-container
  height: 85%
  min-height: 82%
  padding: 15px 0 5px 0
  border-bottom: 1.5px dotted gray

.stock-price-label
  font-size: 1.5em
  line-height: 1em
  color:  rgb(0, 220, 0)
  //text-shadow: 0 0 7px rgb(0, 225, 0);

.supplemental-price-label
  font-size: .9em
  opacity: .8

.vl {
  border-left: 1px dotted rgba(200,200,200, .5);
  width: 1px
}

.hover-item
  display: flex
  flex-direction: column
  flex-wrap: nowrap
  align-items: center

.price-labels
  padding-bottom: 5px
