.chart-container
  height: 82%
  min-height: 82%
  padding: 15px 0 5px 0
  border-bottom: 1.5px dotted gray

.stock-price-label
  font-size: 1.5em
  color: green

.supplemental-price-label
  font-size: .9em
  opacity: .8

.vl {
  border-left: 1px dotted rgba(200,200,200, .5);
  width: 1px
}

.hover-item
  display: flex
  flex-direction: column
  flex-wrap: nowrap
  align-items: center
