@import '../../../../../../assets/styles/custom-colors.styl'

.members-header
  padding: 0

.members-search-container
  padding: 0
  width: 100%

.members-group-section
  padding-top: 10px

.board-group-heading
  font-size: .85em
  font-weight: 700
  font-family: "Monospaced"
  color: rgba(200, 200, 200, .7)

.members-group-list
  list-style-type: none;
  padding-left: 0
  padding-top: 5px
  margin: 0

.member-item
  width: calc(100% + 18px)
  padding: 7px
  border-radius: 3px
  display: flex
  justify-content: flex-start
  align-items: center
  position: relative
  cursor: pointer
  background-color: $black-3
  border-left: 0px double transparent
  margin-top: 5px
  transition: all 200ms ease-in-out

  &:hover
    border-left: 6px double $green-1
    border-radius:3px

.member-avatar
  border-radius:50px
  padding: 3px
  background-color: rgba(100, 100, 100, .7);

.member-name
  margin-left: 5px
  font-weight: 700
  font-size: .9em
  max-width: 70%

.member-check
  position: absolute
  right: 23px
  color: white

.member-group-info
  position: absolute
  right: 23px

.member-item-hidden
  animation: hide-item 200ms forwards
  overflow:hidden

.member-item-shown
  animation: show-item 200ms forwards

@keyframes hide-item {
  0% {
    opacity: 1
  }

  100% {
    opacity: 0
    padding: 0
    margin: 0
    max-height: 0
  }

}

@keyframes show-item {

  0% {
    opacity: 0
    padding: 0
    margin: 0
    max-height: 0
  }

  100% {
    opacity: 1
  }
}
