<app-stock-card-menu-item [icon]="icon" [iconPosition]="iconPosition" [label]="label" [disabled]="disabled">

    <div class="members-header d-flex justify-content-center align-items-center">
        <span class="fg-green-1-glow" style="font-weight: 700">{{group?.name}}</span>
    </div>
    <hr>
    <div class="members-search-container">
        <input pInputText type="text"
               placeholder="Search members..."
               [(ngModel)]="searchCriteria"
               [ngStyle]="{ width: '100%' }">
    </div>

    <p-scrollPanel [style]="{width: '100%', height: 'auto', maxHeight: '400px', paddingTop: '5px'}">

        <div class="members-group-section fg-white">
            <span class="board-group-heading">MEMBERS ({{filteredList?.length}})</span>
            <div *ngFor="let member of group?.members" (click)="toggleMember(member)" class="member-item"
                 [ngClass]="{ 'member-item-hidden': !filteredList.includes(member),
                              'member-item-shown' : filteredList.includes(member)}">
                <i class="pi pi-user member-avatar"></i>
                <span class="member-name">{{member?.firstName}} {{member?.lastName}} {{member?.username ? '(' + member?.username + ')' : ''}}</span>
                <i class="pi pi-check member-check" style=" float: right" *ngIf="(cardMembers | async)?.includes(member)"></i>
            </div>
        </div>

    </p-scrollPanel>
</app-stock-card-menu-item>
