.border-blue {
  border: 2px solid blue;
}

.border-red {
  border: 2px solid red;
}

.inset {
  border-style:inset;
}

.groove {
  border-style: groove;
}
/* If you want the content centered horizontally and vertically */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
