<div class="header-container d-flex flex-column">
    <div class="header-top d-flex justify-content-between">
        <div class="mask"></div>

        <app-portal-div #portalDivComponent style="z-index: 1; display: flex; align-items: center">

            <div left class="d-flex justify-content-center align-items-center">
                <img src="../../../assets/images/logo.png" alt="" class="logo-image">

                <div class="bottom d-flex flex-column" style="padding-left: 15px; ">
                    <strong class="logo-header" style="font-size: 2em;">
                        Honeycomb
                    </strong>
                    <small [style.color]="getBackgroundGradient()"
                           class="slogan-text"
                            style="white-space: nowrap; transition: color 350ms ease-in-out; font-size: .5em; opacity: .8">

                        <div class="slogan-text-container">
                            <span class="slogan-text-piece">Come</span>
                            <span class="slogan-text-piece">get</span>
                            <span class="slogan-text-piece">some</span>
                            <span class="slogan-text-piece">honey.</span>
                        </div>

                    </small>
                </div>

            </div>


            <span right style="font-size:1.15em; opacity: .3; height: 45px" class="d-flex align-items-center">{{parentRoute | titlecase}}</span>
        </app-portal-div>


        <!--    <span class="global-padding-lr">-->
        <!--            <p-autoComplete-->
        <!--                    [suggestions]="mockSuggestions"-->
        <!--                    class="auto-complete-dark"-->
        <!--                    [size]="55"-->
        <!--                    [placeholder]="'Search...'">-->
        <!--                    <ng-template let-value pTemplate="selectedItem">-->
        <!--                        <span style="font-size:18px">>{{value}}<</span>-->
        <!--                    </ng-template>-->
        <!--            </p-autoComplete>-->
        <!--    </span>-->

        <app-user-avatar></app-user-avatar>
    </div>

    <app-mood-bar height="3px"></app-mood-bar>
    <app-middle-header></app-middle-header>

</div>
