@import '../../../assets/styles/_base.styl'

.header-container > *
  width: 100%

.logo-image
  width: 45px
  height: 45px

.logo-header
  line-height: 1.2em
  font-family: 'lato'

.header-top
  transition: background-color 300ms ease-in-out;
  padding: 15px $global-margin
  position: relative
  height: 78px
  overflow: hidden
  background: linear-gradient(-45deg, rgba(0, 0, 0, 0), rgb(20, 20, 20), rgb(15, 15, 15), #000);
  background-size: 400% 400%;
  animation: gradient 7s ease infinite;


& .ui-inputgroup
    padding: $global-margin

.header-middle
  background-color: gray

.mask
  position: absolute
  top: 0
  left: 0
  width: 100vw
  height: 78px
  z-index: 0
  background-color: black
  background: linear-gradient(90deg, rgba(0,0,0,.99) 0%, rgba(0,0,0,.95) 10%, rgba(0,0,0, .99) 30%  )

.slogan-text-container
  display: flex
  justify-content: space-between
  overflow: hidden
  height: 10px

.slogan-text-piece
  opacity: 0
  animation: fade-in 700ms ease-in-out forwards

  &:nth-child(1)
    animation-delay: 350ms
  &:nth-child(2)
    animation-delay: 550ms
  &:nth-child(3)
    animation-delay: 700ms
  &:nth-child(4)
    animation-delay: 800ms

@keyframes slide-up
  0%
    margin-top: 30px
  50%
    margin-top: -10px
  100%
    margin-top: 0

@keyframes fade-in
  from
    opacity: 0
    transform: rotateX(90deg)
  to
    opacity: 1
    transform: rotateX(0deg)


@keyframes slam-in
  0%
    opacity: 0
    transform: scale(1.7) rotate(30deg)

  30%
    opacity: 1
    transform: scale(1)  rotate(0deg)

  50%
    opacity: .8
    transform: scale(1.2) rotate(3deg)

  70%
    opacity: 1
    transform: scale(1) rotate(0deg)
  100%
    opacity: 1
    transform: scale(1) rotate(0deg)
