.trend-positive
  color: green

.trend-negative
  color: red

.stock-symbol-label
  font-size: 1em
  opacity: .8

.ticker-symbol-container
  cursor: pointer
  opacity: .7
  transition: opacity 400ms ease-in-out

  &:hover
    opacity: 1
.change-percent-label
  color: white
  opacity: .7
  font-size: .9em
