<app-stock-card-menu-item [icon]="icon" [iconPosition]="iconPosition" [label]="label">

    <div class="members-header d-flex justify-content-center align-items-center">
        <span class="fg-green-1-glow" style="font-weight: 700">Labels</span>
    </div>
    <hr>
    <div class="members-search-container">
        <input pInputText type="text"
               placeholder="Search Labels..."
               [(ngModel)]="searchCriteria"
               [ngStyle]="{ width: '100%' }">
    </div>

    <p-scrollPanel [style]="{width: '100%', height: 'auto', paddingTop: '5px'}">

        <div class="members-group-section fg-white" *ngIf="labels">
            <span class="board-group-heading">LABELS ({{labels?.length}})</span>
            <div *ngFor="let label of labels">
                <app-label [label]="label" [selected]="cardLabels?.includes(label)" (labelClicked)="toggleLabel(label)"></app-label>
            </div>
        </div>

        <hr>

        <button pButton type="button" label="Create a New Label" [icon]="'pi pi-plus'" style="width: 100%;"></button>

    </p-scrollPanel>
</app-stock-card-menu-item>
