.page-filter-container
  width: 195px;
  height: 100%;
  opacity: 0

  animation: fade-in 800ms 100ms ease-in-out forwards

@keyframes fade-in {
  from {
    opacity: 0
  }
  to {
    opacity: 1
  }
}
