<div class="fade-in-out position-relative" style="opacity: .7; transition: all 500ms ease-in-out; overflow: hidden" [ngStyle]="{ width: width, height: height, backgroundColor: backgroundColor, transitionDuration: animationDuration}">
    <app-moodbar-lights></app-moodbar-lights>
    <app-moodbar-lights></app-moodbar-lights>
    <app-moodbar-lights></app-moodbar-lights>
    <app-moodbar-lights></app-moodbar-lights>
    <app-moodbar-lights></app-moodbar-lights>
    <app-moodbar-lights></app-moodbar-lights>
    <app-moodbar-lights></app-moodbar-lights>
    <app-moodbar-lights></app-moodbar-lights>
    <app-moodbar-lights></app-moodbar-lights>
    <app-moodbar-lights></app-moodbar-lights>
    <app-moodbar-lights></app-moodbar-lights>
    <app-moodbar-lights></app-moodbar-lights>
    <app-moodbar-lights></app-moodbar-lights>
</div>
<!--    {{moodbarColor}}-->
<!--<div class="radial-gradient"></div>-->
