<div class="avatar-container d-flex flex-row flex-nowrap">

    <div class="left avatar-item d-flex flex-column text-align-right">
        <div class="content d-flex flex-column">
            <strong class="text-nowrap">Adam Goins</strong>
            <small class="text-nowrap supplemental-info-label d-flex align-items-center"><i class="pi pi-dollar"></i>57.60 <span class="horizontal-spacer"></span> 25&nbsp;<i class="pi pi-users"></i></small>
        </div>
    </div>


    <div class="right avatar-item d-flex flex-column text-align-right">


<!--        <div class="initials-container border-rotating-cyan-beacon">-->
<!--            <strong>AG</strong>-->
<!--        </div>-->

        <div class="loader">
            <strong class="initials">AG</strong>
        </div>


    </div>
</div>
