<p class="text-center text-muted" >Change Label</p>
<app-label style="padding-left: 5%;" [other]="getPlaceholderLabel()" [animated]="true"></app-label>
<br>
<form class="">
  <br>
  <div class="form-group">

    <label><b>Label Text</b></label>
    <input type="text" id="nameField" (keyup)="updateText()" class="form-control bg-info form-control-sm">
  </div>
  <div class="form-group">
    <label class="text-capitalize"><b>Select a color</b>
      <br> </label>

    <div class="row">
      <div class="col-md-12">
        <ul *ngFor="let label of getFirstFive(), let index = index">

          <li style="padding: 1%">   <app-label (click)="selectColor(label.color)" [other]="label" [isChecked]="colorSelected(label)"></app-label></li>
        </ul>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <ul *ngFor="let label of getSecondFive(), let index = index">
          <li style="padding: 1%">   <app-label (click)="selectColor(label.color)" [other]="label" [isChecked]="colorSelected(label)"></app-label></li>
        </ul>
      </div>
    </div>

    <br>
    <div class="row">
      <div class="col-md-6">
        <a class="btn green" (click)="getSaveText() == 'Create' ? addNewLabel() : save()" style="color: white;">
          <b>{{getSaveText()}}</b>
        </a>
      </div>
      <div class="col-md-6" *ngIf="!isNew()">
        <a class="btn red" style="float:right; color:white;" (click)="deleteLabel();">
          <b>Delete</b>
      </a></div>
    </div>

    <!--<app-label-row [rowLimit]=5 [labels]="getLabels()"></app-label-row>-->

  </div>

</form>
