ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  /*overflow: hidden;*/
}

li {
  float: left;
}

.green {
  background-color:green;
  color:white;
}

.red {
  background-color: red;
  color:white;
}

li a {
  display: block;
  color: white;
  text-align: center;
}

li a:hover {
  background-color: #111111;
}
.red {
  color:white;
  background-color:red;
}
.pink {
  color:white;
  background-color:pink;
}
.orange {
  color:white;
  background-color:orange;
}
.yellow {
  color:white;
  background-color:yellow;
}
.lightblue {
  color:white;
  background-color:lightskyblue;
}
.gray {
  color:white;
  background-color:gray;
}
.black {
  color:white;
  background-color: #111111;
}

.green {
  color:white;
  background-color: #019C10;
}

.blue {
  color:white;
  background-color: dodgerblue;
}

.purple {
  color:white;
  background-color:blueviolet;
}
