@import "../../../../../assets/styles/custom-colors.styl"

.badge-button
  background-color: rgba(0, 60, 0, 1);
  font-size: .85em
  border: none
  padding: 1px
  margin: 0 5px
  margin-left: 0
  border-radius: 15px
  font-weight: 700
  color: whitesmoke

.badge-button:hover
  color: white!important
  background-color: rgba(0, 90, 0, 1)!important



.stat-item > *
  font-family: "Arial"
  font-weight: 600
  border-bottom: 1px solid rgba(200,200,200,.5)
  width: 50%
  white-space: nowrap
  padding: 5px 0
  font-size: 85%

  &:nth-child(1)
    color: rgba(170, 170, 170, 1)
    text-align: left

  &:nth-child(2)
    text-align: right
