.filter-group-component
  margin: 15px 0

.filter-group-component-header
  display: flex
  cursor: pointer
  align-items: center
  font-size: .9em
  justify-content: space-between
  background-color: rgba(45, 45, 45, .5)
  padding: 5px 8px
  border-radius: 4px
