.label-container
  padding: 8px
  border-radius: 3px
  margin: 3px 0
  cursor: pointer
  align-items: center
  border-left: 0 double transparent
  transition: border 200ms ease-in-out

  &:hover
    border-left: 6px double white

.label-text
  font-family: "Verdana"
  font-weight: 700
  font-size: .95em
  text-shadow: black 0 0 1px;

.edit-icon
  padding-left: 10px
  cursor: pointer
  transition: color 200ms ease-in-out
  font-size: 1.5em

  &:hover
    color: red
