p {
  font-size: 2vmin;
}

td {
  color: black;
  font-size: 16px;
}
.dropdown {
  position: relative;
  display: inline-block;
}

.visible {
  display: block;
}

.invisible {
  display: none;

}

.dropdown-content {
  position: absolute;
  min-width: 160px;
  margin-left: -50%;
  width:auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.btn-primary {
  background-color: darkgray;
  color: black;
  font-weight: bolder;
  border-width: 0;
}
.btn-primary :active{
  background-color: ghostwhite;
  color:black;
}

.btn :active{
  background-color: ghostwhite;
  color:black;
}


.btn-primary:hover {
  background-color: lightgray;
}
/*.dropdown:hover .dropdown-content {*/
  /*display: block;*/
/*}*/
