<div class="py-5" style="  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="card" style="  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);">
          <div class="card-body">
            <div class="row">
              <div class="col-md-12"> </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="row">
                  <div class="col-md-12">
                    <h3 class="card-title d-inline-flex text-capitalize">Alphabet Inc.</h3>
                    <a href="#" class="btn btn-primary" style="float: right;">X
                      <br> </a>
                  </div>
                  <div class="col-md-10">
                    <h5 class="card-title text-capitalize">Technology | online Media | Market Cap (7.62B)</h5>
                    <p class="card-text"> Labels
                      <br> </p>
                    <div class="row">
                      <div class="col-md-12">
                        <app-label-row [company]="stock"></app-label-row>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-8 col-md-12 col-sm-10">
                        <div class="tab-content">
                          <div class="tab-pane fade show active" id="tabone" role="tabpanel">
                            <div class="row">

                              <div class="col-md-4">
                                <h5 class="">Summary</h5>
                                <table class="table table-hover">
                                  <tbody class="text-dark" *ngFor="let summaryData of getSummaryData() | async">
                                  <tr>
                                    <td>{{summaryData.key}}</td>
                                    <td style="float: right;">{{prettify(summaryData.value)}}</td>
                                  </tr>
                                  </tbody>
                                </table>
                              </div>

                              <div class="col-md-8">
                                <app-stock-chart></app-stock-chart>
                              </div>

                            </div>
                            <ul class="nav nav-tabs">
                              <li class="nav-item">
                                <a class="nav-link show" href="" data-toggle="tab" data-target="#financialsTab">Financials</a>
                              </li>
                              <li class="nav-item">
                                <a href="" class="nav-link" data-toggle="tab" data-target="#tabthree">Market</a>
                              </li>
                              <li class="nav-item">
                                <a href="" class="nav-link" data-toggle="tab" data-target="#tabthree">News</a>
                              </li>
                            </ul>
                            <div class="tab-content mt-2">
                              <div class="tab-pane fade show active" id="tabone" role="tabpanel">
                                <p class="">Tab pane one. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                              </div>
                              <div class="tab-pane fade" id="financialsTab" role="tabpanel">
                                  <app-financials-tab></app-financials-tab>
                              </div>
                              <div class="tab-pane fade" id="tabthree" role="tabpanel">
                                <p class="">Tab pane three. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                              </div>
                            </div>
                          </div>
                          <div class="tab-pane fade" id="tabtwo" role="tabpanel">
                            <p class="">Tab pane two. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                          </div>
                          <div class="tab-pane fade" id="tabthree" role="tabpanel">
                            <p class="">Tab pane three. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-2 col-md-2">
                    <h6 class="">Actions</h6>
                    <a class="btn btn-dark w-100 align-items-start align-self-start justify-content-start flex-row text-left p-1 m-1" href="#" style="padding: 2% 2% 2% 2%;background-size:fit;background-position:left center;">
                      <i class="fa fa-star"></i> Watch</a>
               <app-labels-button [company]="getStock()"></app-labels-button>
                    <a class="btn btn-dark w-100 align-items-start align-self-start justify-content-start flex-row text-left p-1 m-1" href="#" style="padding: 2% 2% 2% 2%;background-size:fit;background-position:left center;">
                      <i class="fa fa-star"></i>&nbsp;Portfolio</a>
                    <a class="btn btn-dark w-100 align-items-start align-self-start justify-content-start flex-row text-left p-1 m-1" href="#" style="padding: 2% 2% 2% 2%;background-size:fit;background-position:left center;">
                      <i class="fa fa-star"></i>&nbsp;Boards
                      <br> </a>
                    <h6 class="py-2 d-flex text-justify">Team</h6>
                    <a class="btn btn-dark w-100 align-items-start align-self-start justify-content-start flex-row text-left p-1 m-1" href="#" style="padding: 2% 2% 2% 2%;background-size:fit;background-position:left center;">
                      <i class="fa fa-star"></i>&nbsp;Send to</a>
                    <a class="btn btn-dark w-100 align-items-start align-self-start justify-content-start flex-row text-left p-1 m-1" href="#" style="padding: 2% 2% 2% 2%;background-size:fit;background-position:left center;">
                      <i class="fa fa-star"></i>&nbsp;Ping Group</a>
                    <a class="btn btn-dark w-100 align-items-start align-self-start justify-content-start flex-row text-left p-1 m-1" href="#" style="padding: 2% 2% 2% 2%;background-size:fit;background-position:left center;">
                      <i class="fa fa-star"></i> Watchlist</a>
                  </div>
                </div>
                <b> </b>
              </div>
            </div>
            <b> </b>
          </div>
          <b> </b>
        </div>
        <b> </b>
      </div>
      <b> </b>
    </div>
    <b> </b>
  </div>
  <b> </b>
</div>
